/* public/styles/index.css */

.Index{
    background-color: var(--foreground);
    margin: 50px auto;
}
.Index header{
    background-color: var(--foreground);
    text-align: center;
    padding: 30px;
}

.Index header .inner .title{
    font: 40px/1.5 PirataOne, Koulen;
}

.Index header .inner .title .description{
    font: 18px/1 StardosStencil, Bayon;
}



.Index footer{
    text-align: center;
    padding: 50px 0;
    background: var(--background-light);
}